.*.swp
*.dSYM
*.a
*.o
kc-c1
kc-c2
kc-c3
kc-c4
kc-cpp1
kc-cpp2
yak-count
snp-pattern-gen
vaf-counter
correlation-matrix
match-classifier
bam-vaf-counter
vcf-vaf-counter
test_data/
_codeql_detected_source_root
# htslib build artifacts
htslib/config.h
htslib/config.mk
htslib/config_vars.h
htslib/htscodecs.mk
htslib/htslib.pc.tmp
htslib/*.o
htslib/cram/*.o
htslib/htscodecs/**/*.o
